{% extends 'base.html.twig' %}

{% block title %}{{ seo.title|default('Услуги') }}{% endblock %}
{% block description %}{{ seo.description|default("") }}{% endblock %}
{% block robots %}{{ seo.robots|default('<meta name="robots" content="index, follow">')|raw }}{% endblock %}
{% block canonical %}{{ seo.canonical|default(app.request.uri) }}{% endblock %}

{% block content %}
    <main class="page page_services">
        <div class="_container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="/" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">Услуги</li>
            </ul>
            <h1 class="page__header h1">{{ seo.h1|default("Услуги «Клиники лечения позвоночника»") }}</h1>
        </div>
        <div class="branches _container">
            <div class="branches__row">
                {% for service in services %}
                    {% include 'service/_card.html.twig' %}
                {% endfor %}
            </div>
        </div>
        <div class="_container">
            {{ render(controller('App\\Controller\\FormController::callbackRequest', {template: '_form/_callback_request2.html.twig'})) }}
        </div>
        {% include 'clinic_rating/_section.html.twig' %}
    </main>
{% endblock %}
