{% extends 'base.html.twig' %}


{% block title %}{{ seo.title|default('Главная страница') }}{% endblock %}
{% block description %}{{ seo.description|default("") }}{% endblock %}
{% block robots %}{{ seo.robots|default('<meta name="robots" content="index, follow">')|raw }}{% endblock %}
{% block canonical %}{{ seo.canonical|default(app.request.uri) }}{% endblock %}

{% block content %}
    <main class="page">
        <section class="first-screen _container">
            {{ render(controller('App\\Controller\\MainSliderController::show')) }}
        </section>
        <div class="_container">
            <h1 class="page__header h1">{{ seo.h1|default("Клиника лечения позвоночника и суставов") }}</h1>
        </div>
        {% include 'main/_branches.html.twig' %}
        <div class="advantages _scr-item">
            <div class="_container">
                <div class="advantages__row">
                    <div class="advantages__col">
                        <div class="advantages__item item-advantages">
                            <div class="item-advantages__head">
                                <svg class="item-advantages__icon svg" width="57" height="72" viewBox="0 0 57 72"
                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M5.9428 0.388428H51.2481C54.0283 0.388428 56.2821 2.59211 56.2821 5.31049V66.8363C56.2821 69.5546 54.0283 71.7583 51.2481 71.7583H5.9428C3.16264 71.7583 0.908875 69.5546 0.908875 66.8363V5.31049C0.908875 2.59211 3.16264 0.388428 5.9428 0.388428ZM5.9428 2.84946C4.55272 2.84946 3.42584 3.9513 3.42584 5.31049V66.8363C3.42584 68.1954 4.55272 69.2973 5.9428 69.2973H51.2481C52.6382 69.2973 53.7651 68.1954 53.7651 66.8363V5.31049C53.7651 3.9513 52.6382 2.84946 51.2481 2.84946H5.9428Z"
                                          fill="#29A285"/>
                                    <path d="M37.8241 55.7617H18.2772V58.7672H37.8241V55.7617Z" fill="#29A285"/>
                                    <path d="M19.232 49.461H12.1882V47.9952L15.5125 44.279C15.9689 43.7559 16.3053 43.2994 16.5217 42.9095C16.7429 42.5196 16.8535 42.1495 16.8535 41.7991C16.8535 41.3204 16.7382 40.9453 16.5076 40.6738C16.2771 40.3975 15.9477 40.2593 15.5195 40.2593C15.0584 40.2593 14.6937 40.4271 14.4255 40.7627C14.1621 41.0933 14.0303 41.5301 14.0303 42.073H11.9835C11.9835 41.4166 12.1317 40.817 12.4282 40.2741C12.7293 39.7312 13.1528 39.3068 13.6986 39.0008C14.2444 38.6899 14.8631 38.5344 15.5548 38.5344C16.6135 38.5344 17.4346 38.8009 18.018 39.3339C18.6062 39.8669 18.9002 40.6196 18.9002 41.5918C18.9002 42.1248 18.7685 42.6677 18.505 43.2204C18.2415 43.7732 17.7898 44.4172 17.1499 45.1526L14.8137 47.7361H19.232V49.461Z"
                                          fill="#29A285"/>
                                    <path d="M27.405 45.0045C27.405 46.4949 27.1109 47.635 26.5228 48.4246C25.9346 49.2142 25.0735 49.6091 23.9396 49.6091C22.8197 49.6091 21.9634 49.2216 21.3705 48.4468C20.7776 47.672 20.4742 46.5616 20.46 45.1155V43.1316C20.46 41.6263 20.7565 40.4838 21.3493 39.7041C21.9469 38.9243 22.8056 38.5344 23.9255 38.5344C25.0453 38.5344 25.9017 38.9218 26.4945 39.6967C27.0874 40.4666 27.3909 41.5745 27.405 43.0205V45.0045ZM25.3653 42.8281C25.3653 41.9348 25.2476 41.2858 25.0124 40.8811C24.7818 40.4715 24.4195 40.2667 23.9255 40.2667C23.4455 40.2667 23.0903 40.4616 22.8597 40.8515C22.6339 41.2365 22.5139 41.841 22.4998 42.6652V45.2858C22.4998 46.1643 22.6127 46.8182 22.8385 47.2476C23.0691 47.672 23.4361 47.8842 23.9396 47.8842C24.4383 47.8842 24.7983 47.6794 25.0194 47.2698C25.2406 46.8601 25.3559 46.2334 25.3653 45.3894V42.8281Z"
                                          fill="#29A285"/>
                                    <path d="M35.7051 45.0045C35.7051 46.4949 35.411 47.635 34.8228 48.4246C34.2347 49.2142 33.3736 49.6091 32.2397 49.6091C31.1198 49.6091 30.2634 49.2216 29.6706 48.4468C29.0777 47.672 28.7742 46.5616 28.7601 45.1155V43.1316C28.7601 41.6263 29.0565 40.4838 29.6494 39.7041C30.247 38.9243 31.1057 38.5344 32.2255 38.5344C33.3454 38.5344 34.2017 38.9218 34.7946 39.6967C35.3875 40.4666 35.691 41.5745 35.7051 43.0205V45.0045ZM33.6653 42.8281C33.6653 41.9348 33.5477 41.2858 33.3125 40.8811C33.0819 40.4715 32.7196 40.2667 32.2255 40.2667C31.7456 40.2667 31.3904 40.4616 31.1598 40.8515C30.9339 41.2365 30.814 41.841 30.7998 42.6652V45.2858C30.7998 46.1643 30.9128 46.8182 31.1386 47.2476C31.3692 47.672 31.7362 47.8842 32.2397 47.8842C32.7384 47.8842 33.0984 47.6794 33.3195 47.2698C33.5407 46.8601 33.6559 46.2334 33.6653 45.3894V42.8281Z"
                                          fill="#29A285"/>
                                    <path d="M39.1634 43.1242H40.2504C40.7679 43.1242 41.1514 42.9885 41.4008 42.717C41.6502 42.4456 41.7749 42.0853 41.7749 41.6362C41.7749 41.2019 41.6502 40.8638 41.4008 40.622C41.1561 40.3802 40.8173 40.2593 40.3845 40.2593C39.9939 40.2593 39.6669 40.3728 39.4034 40.5998C39.1399 40.8219 39.0082 41.1131 39.0082 41.4733H36.9684C36.9684 40.9107 37.1119 40.4073 37.399 39.9632C37.6907 39.5141 38.0953 39.1637 38.6129 38.912C39.1352 38.6603 39.7092 38.5344 40.335 38.5344C41.422 38.5344 42.2736 38.8083 42.89 39.3561C43.5064 39.899 43.8146 40.6492 43.8146 41.6066C43.8146 42.1001 43.6711 42.5542 43.3841 42.9687C43.097 43.3833 42.7206 43.7016 42.2548 43.9237C42.8335 44.1408 43.2641 44.4666 43.5464 44.9009C43.8334 45.3352 43.9769 45.8484 43.9769 46.4406C43.9769 47.3981 43.6428 48.1655 42.9747 48.7429C42.3113 49.3204 41.4314 49.6091 40.335 49.6091C39.3093 49.6091 38.4694 49.3253 37.8154 48.7577C37.1661 48.1902 36.8414 47.44 36.8414 46.5073H38.8811C38.8811 46.912 39.0246 47.2426 39.3117 47.4993C39.6034 47.7559 39.961 47.8842 40.3845 47.8842C40.8691 47.8842 41.2479 47.751 41.5208 47.4844C41.7984 47.213 41.9372 46.8552 41.9372 46.411C41.9372 45.3352 41.3726 44.7972 40.2433 44.7972H39.1634V43.1242Z"
                                          fill="#29A285"/>
                                    <path class="svg__anim svg__anim_rotate"
                                          d="M37.6724 17.4744H33.164V12.9661C33.164 12.1361 32.4912 11.4633 31.6612 11.4633H25.65C24.8201 11.4633 24.1472 12.1361 24.1472 12.9661V17.4744H19.6389C18.8089 17.4744 18.136 18.1473 18.136 18.9773V24.9884C18.136 25.8184 18.8089 26.4913 19.6389 26.4913H24.1472V30.9996C24.1472 31.8296 24.8201 32.5024 25.65 32.5024H31.6612C32.4912 32.5024 33.164 31.8296 33.164 30.9996V26.4913H37.6724C38.5023 26.4913 39.1752 25.8184 39.1752 24.9884V18.9773C39.1752 18.1472 38.5023 17.4744 37.6724 17.4744ZM36.1696 23.4855H31.6612C30.8313 23.4855 30.1584 24.1583 30.1584 24.9883V29.4966H27.1529V24.9883C27.1529 24.1583 26.48 23.4855 25.65 23.4855H21.1417V20.4799H25.65C26.48 20.4799 27.1529 19.8071 27.1529 18.9771V14.4688H30.1584V18.9771C30.1584 19.8071 30.8313 20.4799 31.6612 20.4799H36.1696V23.4855Z"
                                          fill="#29A285"/>
                                </svg>
                            </div>
                            <div class="item-advantages__text">Работаем <br><span class="item-advantages__strong">с&nbsp;2003 года</span>
                            </div>
                        </div>
                    </div>
                    <div class="advantages__col">
                        <div class="advantages__item item-advantages">
                            <div class="item-advantages__head">
                                <svg class="item-advantages__icon svg" width="74" height="73" viewBox="0 0 75 75"
                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.03393 0.388428H50.3393C53.1194 0.388428 55.3732 2.59211 55.3732 5.31049V44L52.8562 43.3249V5.31049C52.8562 3.9513 51.7293 2.84946 50.3393 2.84946H5.03393C3.64385 2.84946 2.51696 3.9513 2.51696 5.31049V66.8363C2.51696 68.1954 3.64385 69.2973 5.03393 69.2973H50.3393C51.2988 69.2973 52.133 68.7723 52.5576 68L54.5 69.6076C53.5937 70.906 52.0683 71.7583 50.3393 71.7583H5.03393C2.25377 71.7583 0 69.5546 0 66.8363V5.31049C0 2.59211 2.25377 0.388428 5.03393 0.388428Z"
                                          fill="#29A285"/>
                                    <path class="svg__anim svg__anim_beat" fill-rule="evenodd" clip-rule="evenodd"
                                          d="M70.1084 45.0508C66.4394 41.4744 60.7162 41.0923 56.6043 44.1491C56.1232 43.7915 55.1001 43.2191 55.1001 43.2191L52.0946 42.2328C48.9082 41.7042 45.5486 42.6663 43.102 45.0508C43.0482 45.1035 42.9948 45.1567 42.9421 45.2107C39.0545 49.1866 39.1261 55.5613 43.102 59.449L51.9837 68.1924L54.1805 70.355L55.5509 71.7041C55.8316 71.9801 56.2093 72.1349 56.6029 72.1354C56.9966 72.1349 57.3743 71.9801 57.6549 71.7041L70.1085 59.4489C70.1623 59.3962 70.2157 59.3429 70.2684 59.289C74.1559 55.3132 74.0843 48.9384 70.1084 45.0508ZM56.4993 69L67.8722 57.5154C70.6595 54.7274 70.7157 50.1494 67.9978 47.2904C67.9564 47.247 67.9145 47.204 67.8722 47.1616C65.0027 44.286 60.4201 44.286 57.5506 47.1616C56.9675 47.7481 56.0342 47.7481 55.4509 47.1616C54.0738 45.7715 52.2177 44.9948 50.2856 45C48.3569 44.9936 46.5036 45.7675 45.1278 47.1538C42.3405 49.9418 42.2843 54.5198 45.0022 57.3789C45.0436 57.4223 45.0855 57.4653 45.1278 57.5077L56.4993 69Z"
                                          fill="#29A285"/>
                                    <path d="M37.0666 21.0411H32.5583V16.5327C32.5583 15.7028 31.8854 15.0299 31.0554 15.0299H25.0443C24.2143 15.0299 23.5414 15.7028 23.5414 16.5327V21.0411H19.0331C18.2031 21.0411 17.5303 21.714 17.5303 22.5439V28.5551C17.5303 29.385 18.2031 30.0579 19.0331 30.0579H23.5414V34.5663C23.5414 35.3962 24.2143 36.0691 25.0443 36.0691H31.0554C31.8854 36.0691 32.5583 35.3962 32.5583 34.5663V30.0579H37.0666C37.8966 30.0579 38.5694 29.385 38.5694 28.5551V22.5439C38.5694 21.7138 37.8966 21.0411 37.0666 21.0411ZM35.5638 27.0521H31.0554C30.2255 27.0521 29.5526 27.725 29.5526 28.5549V33.0633H26.5471V28.5549C26.5471 27.725 25.8742 27.0521 25.0443 27.0521H20.5359V24.0466H25.0443C25.8742 24.0466 26.5471 23.3737 26.5471 22.5438V18.0354H29.5526V22.5438C29.5526 23.3737 30.2255 24.0466 31.0554 24.0466H35.5638V27.0521Z"
                                          fill="#29A285"/>
                                    <path d="M8.5138 6.01343C7.68384 6.01343 7.01111 6.6863 7.01111 7.51626V13.5274H10.0166V9.01908H14.525V6.01343H8.5138Z"
                                          fill="#29A285"/>
                                    <path d="M47.5862 6.01343H41.5752V9.01894H46.0835V13.5273H49.0891V7.51626C49.0891 6.6863 48.4162 6.01343 47.5862 6.01343Z"
                                          fill="#29A285"/>
                                    <path d="M38.5687 45.0847H17.5303V48.0902H38.5687V45.0847Z" fill="#29A285"/>
                                    <path d="M38.5687 52.5997H17.5303V55.6053H38.5687V52.5997Z" fill="#29A285"/>
                                    <path d="M38.5687 60.113H17.5303V63.1186H38.5687V60.113Z" fill="#29A285"/>
                                </svg>
                            </div>
                            <div class="item-advantages__text"><span class="item-advantages__strong">Лучшая <br>частная клиника</span>
                                <br>по&nbsp;специальности <br>«Неврология»
                            </div>
                        </div>
                    </div>
                    <div class="advantages__col">
                        <div class="advantages__item item-advantages">
                            <div class="item-advantages__head">
                                <svg class="item-advantages__icon svg" width="72" height="72" viewBox="0 0 72 72"
                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path d="M36.6341 69.3789C36.375 69.1196 36.0153 68.9705 35.6487 68.9705C35.282 68.9705 34.9223 69.1196 34.6632 69.3789C34.4039 69.6382 34.2548 69.9978 34.2548 70.3644C34.2548 70.731 34.4038 71.0906 34.6632 71.3499C34.9223 71.6092 35.282 71.7583 35.6487 71.7583C36.0153 71.7583 36.375 71.6092 36.6341 71.3499C36.8934 71.0906 37.0427 70.731 37.0427 70.3644C37.0427 69.9978 36.8935 69.6382 36.6341 69.3789Z"
                                              fill="#29A285"/>
                                        <path d="M63.9207 45.9803L59.2707 44.8695V43.025C61.8518 41.3937 63.5708 38.5167 63.5708 35.2443V30.0495C63.5708 24.9765 59.4436 20.8495 54.3705 20.8495C51.6339 20.8495 49.174 22.0519 47.4872 23.9545C46.0099 18.8383 41.2848 15.0858 35.6994 15.0858H35.6993C30.1049 15.0858 25.3734 18.8502 23.9043 23.9789C22.2171 22.0622 19.7481 20.8495 16.9998 20.8495C11.9267 20.8495 7.79953 24.9767 7.79953 30.0495V35.2443C7.79953 38.5169 9.51854 41.3938 12.0996 43.025V44.8695L7.44965 45.9803C3.06333 47.028 0 50.9092 0 55.4184V64.7887C0 65.5585 0.624208 66.1826 1.39394 66.1826H12.5403V70.3644C12.5403 71.1343 13.1645 71.7584 13.9343 71.7584H29.2264C29.9961 71.7584 30.6203 71.1343 30.6203 70.3644C30.6203 69.5945 29.9961 68.9705 29.2264 68.9705H23.0034V62.8355C23.0034 62.0656 22.3792 61.4415 21.6095 61.4415C20.8397 61.4415 20.2155 62.0656 20.2155 62.8355V68.9705H15.3281V62.6813C15.3281 57.9539 18.5389 53.8829 23.1363 52.7812L29.9921 51.1383L34.4034 61.1742C34.6258 61.6803 35.1264 62.0072 35.6792 62.0072H35.6794C36.2322 62.0072 36.7329 61.6804 36.9554 61.1743L41.3622 51.1531L48.1981 52.7861C52.7996 53.8852 56.0132 57.9571 56.0132 62.6878V64.2433C55.942 64.4109 55.9024 64.595 55.9024 64.7885C55.9024 64.982 55.942 65.1663 56.0132 65.3337V68.9705H51.1544V62.8355C51.1544 62.0656 50.5302 61.4415 49.7604 61.4415C48.9907 61.4415 48.3665 62.0656 48.3665 62.8355V68.9705H41.5396C40.7699 68.9705 40.1457 69.5945 40.1457 70.3644C40.1457 71.1343 40.7699 71.7584 41.5396 71.7584H57.4072C58.1769 71.7584 58.8011 71.1343 58.8011 70.3644V66.1826H69.9759C70.7457 66.1826 71.3699 65.5585 71.3699 64.7887V55.4184C71.3699 50.9092 68.3066 47.028 63.9207 45.9803ZM54.3703 23.6374C57.9061 23.6374 60.7828 26.5139 60.7828 30.0495V30.3947V30.5347H56.7957C53.7839 30.5347 50.8244 29.744 48.2162 28.2451C48.9977 25.5851 51.4608 23.6374 54.3703 23.6374ZM47.9579 35.0168C47.9628 34.8745 47.9663 31.2688 47.9663 31.2688C50.7066 32.6165 53.7277 33.3228 56.7958 33.3228H60.7829V35.2445C60.7827 38.7801 57.9061 41.6565 54.3703 41.6565C50.8346 41.6565 47.9579 38.7799 47.9579 35.2443V35.0168ZM26.2201 27.3527C26.2201 22.1259 30.4724 17.8738 35.6993 17.8738C40.926 17.8738 45.1784 22.1261 45.1784 27.3527V27.5344L40.0048 24.4949C39.4178 24.1499 38.6676 24.2797 38.2303 24.8015C36.2202 27.2002 33.2723 28.576 30.1425 28.576H26.2201V27.3527ZM10.5871 30.3948V30.0495C10.5871 26.5138 13.4638 23.6374 16.9996 23.6374C19.9091 23.6374 22.3722 25.5851 23.1535 28.2452C20.5453 29.744 17.586 30.5349 14.5741 30.5349H10.5871V30.3948ZM10.5871 35.2443V33.3226H14.5742C17.6454 33.3226 20.6695 32.6151 23.412 31.2648V35.2443C23.412 38.7801 20.5353 41.6565 16.9996 41.6565C13.4638 41.6565 10.5871 38.7799 10.5871 35.2443ZM12.5403 62.6813V63.3947H8.36366V57.2016C8.36366 56.4317 7.73945 55.8076 6.96972 55.8076C6.19998 55.8076 5.57577 56.4317 5.57577 57.2016V63.3947H2.78789V55.4184C2.78789 52.2047 4.97108 49.4387 8.097 48.692L12.5155 47.6363L15.3993 54.544C13.5957 56.7846 12.5403 59.6247 12.5403 62.6813ZM16.9998 51.1411L14.8829 46.0701C14.8852 46.0368 14.8872 46.0035 14.8872 45.9697V44.1969C15.5659 44.3569 16.2726 44.4443 16.9996 44.4443C17.7233 44.4443 18.4267 44.3576 19.1027 44.199V45.8815C19.1012 45.9077 19.1005 45.9339 19.1005 45.9601C19.1005 46.004 19.1047 46.0477 19.1089 46.0913L16.9998 51.1411ZM22.4867 50.0702C21.6635 50.2674 20.8769 50.5419 20.1301 50.8803L21.4878 47.6294L25.907 48.6883C26.2498 48.7704 26.5837 48.879 26.907 49.0109L22.4867 50.0702ZM29.4056 47.1648C28.5305 46.622 27.5704 46.2201 26.5567 45.9773L21.8906 44.8592V43.031C23.0511 42.2996 24.0367 41.3166 24.7715 40.1585C25.8224 42.2117 27.4353 43.931 29.4056 45.1136V47.1648ZM39.1605 49.2341L35.6796 57.1497L32.1935 49.2186V46.3437C33.3048 46.6758 34.4814 46.8549 35.6992 46.8549C36.9007 46.8549 38.0623 46.6804 39.1605 46.3568V49.2341ZM35.6993 44.0671C30.4723 44.067 26.2201 39.8148 26.2201 34.5882V31.364H30.1423C33.7002 31.364 37.0723 29.9578 39.5636 27.4692L45.1702 30.7629V34.9153C44.9968 39.9908 40.8165 44.0671 35.6993 44.0671ZM41.9483 45.1398H41.9485C43.931 43.9612 45.5552 42.2407 46.6142 40.1831C47.3474 41.3304 48.3272 42.3046 49.4793 43.031V44.8592L44.8132 45.9773C43.7934 46.2216 42.8278 46.6271 41.9483 47.1749V45.1398ZM48.8457 50.0748L44.4374 49.0215C44.7686 48.8849 45.1111 48.7727 45.4629 48.6883L49.8714 47.632L51.2347 50.8975C50.4782 50.5529 49.6807 50.2742 48.8457 50.0748ZM52.2581 46.1121C52.2637 46.0615 52.2677 46.0106 52.2677 45.9596C52.2677 45.9466 52.2676 45.9335 52.2672 45.9205V44.199C52.9432 44.3578 53.6466 44.4443 54.3703 44.4443C55.0973 44.4443 55.804 44.3569 56.4827 44.1968V45.9696C56.4827 45.995 56.4845 46.0199 56.4859 46.045L54.3576 51.1411L52.2581 46.1121ZM68.582 63.3947H65.7941V57.2016C65.7941 56.4317 65.1699 55.8076 64.4002 55.8076C63.6304 55.8076 63.0062 56.4317 63.0062 57.2016V63.3947H58.8011V62.688C58.8011 59.6354 57.7493 56.7993 55.9508 54.5606L58.8436 47.6338L63.2729 48.692C66.3988 49.4387 68.582 52.2047 68.582 55.4184V63.3947Z"
                                              fill="#29A285"/>
                                        <path d="M31.9951 33.0318C31.7359 32.7726 31.3763 32.6234 31.0097 32.6234C30.6431 32.6234 30.2835 32.7726 30.0242 33.0318C29.7649 33.2911 29.6158 33.6507 29.6158 34.0174C29.6158 34.384 29.7648 34.7436 30.0242 35.0029C30.2836 35.2621 30.6431 35.4113 31.0097 35.4113C31.3777 35.4113 31.7359 35.2621 31.9951 35.0029C32.2557 34.7436 32.4036 34.384 32.4036 34.0174C32.4036 33.6507 32.2557 33.2911 31.9951 33.0318Z"
                                              fill="#29A285"/>
                                        <path d="M41.3164 33.0318C41.0572 32.7726 40.6976 32.6234 40.331 32.6234C39.9644 32.6234 39.6047 32.7726 39.3455 33.0318C39.0862 33.2911 38.937 33.6507 38.937 34.0174C38.937 34.384 39.0861 34.7436 39.3455 35.0029C39.6049 35.2621 39.9644 35.4113 40.331 35.4113C40.6976 35.4113 41.0572 35.2621 41.3164 35.0029C41.577 34.7436 41.7249 34.384 41.7249 34.0174C41.7249 33.6507 41.577 33.2911 41.3164 33.0318Z"
                                              fill="#29A285"/>
                                        <path d="M38.3679 37.724C37.8234 37.1797 36.941 37.1797 36.3964 37.724C35.9842 38.1362 35.3136 38.1362 34.9014 37.724C34.3569 37.1797 33.4746 37.1797 32.9299 37.724C32.3856 38.2684 32.3856 39.151 32.9299 39.6955C33.6796 40.445 34.6642 40.8199 35.6488 40.8199C36.6335 40.8199 37.6181 40.4452 38.3677 39.6955C38.9122 39.151 38.9122 38.2684 38.3679 37.724Z"
                                              fill="#29A285"/>
                                        <path class="svg__anim svg__anim_salut svg__anim_p3"
                                              d="M57.6366 7.91577H56.6805C55.9108 7.91577 55.2866 8.53984 55.2866 9.30971C55.2866 10.0796 55.9108 10.7037 56.6805 10.7037H57.6366C58.4063 10.7037 59.0306 10.0796 59.0306 9.30971C59.0306 8.53984 58.4063 7.91577 57.6366 7.91577Z"
                                              fill="#29A285"/>
                                        <path class="svg__anim svg__anim_salut svg__anim_p3"
                                              d="M64.4002 7.91577H63.4441C62.6743 7.91577 62.0501 8.53984 62.0501 9.30971C62.0501 10.0796 62.6742 10.7037 63.4441 10.7037H64.4002C65.1699 10.7037 65.7941 10.0796 65.7941 9.30971C65.7941 8.53984 65.1699 7.91577 64.4002 7.91577Z"
                                              fill="#29A285"/>
                                        <path class="svg__anim svg__anim_salut svg__anim_p3"
                                              d="M60.5405 10.8195C59.7707 10.8195 59.1465 11.4435 59.1465 12.2134V13.1695C59.1465 13.9394 59.7706 14.5635 60.5405 14.5635C61.3102 14.5635 61.9344 13.9394 61.9344 13.1695V12.2134C61.9344 11.4435 61.3102 10.8195 60.5405 10.8195Z"
                                              fill="#29A285"/>
                                        <path class="svg__anim svg__anim_salut svg__anim_p3"
                                              d="M60.5405 4.05591C59.7707 4.05591 59.1465 4.67998 59.1465 5.44985V6.40596C59.1465 7.17583 59.7706 7.7999 60.5405 7.7999C61.3102 7.7999 61.9344 7.17583 61.9344 6.40596V5.44985C61.9344 4.67998 61.3102 4.05591 60.5405 4.05591Z"
                                              fill="#29A285"/>
                                        <path class="svg__anim svg__anim_salut svg__anim_p2"
                                              d="M7.84814 7.91577H6.89217C6.12244 7.91577 5.49823 8.53984 5.49823 9.30971C5.49823 10.0796 6.12244 10.7037 6.89217 10.7037H7.84814C8.61787 10.7037 9.24208 10.0796 9.24208 9.30971C9.24208 8.53984 8.61787 7.91577 7.84814 7.91577Z"
                                              fill="#29A285"/>
                                        <path class="svg__anim svg__anim_salut svg__anim_p2"
                                              d="M14.6118 7.91577H13.6558C12.886 7.91577 12.2618 8.53984 12.2618 9.30971C12.2618 10.0796 12.8859 10.7037 13.6558 10.7037H14.6118C15.3815 10.7037 16.0057 10.0796 16.0057 9.30971C16.0057 8.53984 15.3815 7.91577 14.6118 7.91577Z"
                                              fill="#29A285"/>
                                        <path class="svg__anim svg__anim_salut svg__anim_p2"
                                              d="M10.752 10.8195C9.9823 10.8195 9.35809 11.4435 9.35809 12.2134V13.1695C9.35809 13.9394 9.98216 14.5635 10.752 14.5635C11.5218 14.5635 12.146 13.9394 12.146 13.1695V12.2134C12.146 11.4435 11.5218 10.8195 10.752 10.8195Z"
                                              fill="#29A285"/>
                                        <path class="svg__anim svg__anim_salut svg__anim_p2"
                                              d="M10.752 4.05591C9.9823 4.05591 9.35809 4.67998 9.35809 5.44985V6.40596C9.35809 7.17583 9.98216 7.7999 10.752 7.7999C11.5218 7.7999 12.146 7.17583 12.146 6.40596V5.44985C12.146 4.67998 11.5218 4.05591 10.752 4.05591Z"
                                              fill="#29A285"/>
                                        <path class="svg__anim svg__anim_salut svg__anim_p1"
                                              d="M35.685 5.69751C34.9152 5.69751 34.291 6.32158 34.291 7.09145V10.7589C34.291 11.5288 34.9152 12.1529 35.685 12.1529C36.4547 12.1529 37.0789 11.5288 37.0789 10.7589V7.09145C37.0789 6.32158 36.4547 5.69751 35.685 5.69751Z"
                                              fill="#29A285"/>
                                        <path class="svg__anim svg__anim_salut svg__anim_p1"
                                              d="M36.6703 0.796853C36.4112 0.53758 36.0516 0.388428 35.685 0.388428C35.3184 0.388428 34.9587 0.53758 34.6994 0.796853C34.44 1.05613 34.291 1.41576 34.291 1.78237C34.291 2.14898 34.44 2.50862 34.6994 2.76789C34.9589 3.02716 35.3184 3.17631 35.685 3.17631C36.0516 3.17631 36.4112 3.02716 36.6703 2.76789C36.9297 2.50862 37.0789 2.14898 37.0789 1.78237C37.0789 1.41576 36.9297 1.05613 36.6703 0.796853Z"
                                              fill="#29A285"/>
                                        <path class="svg__anim svg__anim_salut svg__anim_p1"
                                              d="M30.7998 5.98074L28.76 3.94084C28.2155 3.39651 27.3331 3.39651 26.7885 3.94084C26.2442 4.48518 26.2442 5.36782 26.7885 5.9123L28.8285 7.95219C29.1008 8.22443 29.4575 8.36048 29.8142 8.36048C30.1709 8.36048 30.5276 8.22443 30.7998 7.95219C31.3442 7.40786 31.3442 6.52521 30.7998 5.98074Z"
                                              fill="#29A285"/>
                                        <path class="svg__anim svg__anim_salut svg__anim_p1"
                                              d="M44.5811 3.86418C44.0366 3.31985 43.1543 3.31985 42.6097 3.86418L40.5016 5.97224C39.9573 6.51658 39.9573 7.39922 40.5016 7.9437C40.774 8.21593 41.1306 8.35198 41.4874 8.35198C41.8443 8.35198 42.2008 8.21593 42.4731 7.9437L44.5811 5.83564C45.1255 5.2913 45.1255 4.40866 44.5811 3.86418Z"
                                              fill="#29A285"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <rect width="71.3699" height="71.3699" fill="white"
                                                  transform="translate(0 0.388428)"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <div class="item-advantages__text">Мы помогли <br>более <span
                                        class="item-advantages__strong">150&nbsp;000 <br>пациентов</span></div>
                        </div>
                    </div>
                    <div class="advantages__col">
                        <div class="advantages__item item-advantages">
                            <div class="item-advantages__head">
                                <svg class="item-advantages__icon svg" width="72" height="72" viewBox="0 0 72 72"
                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path d="M69.8828 9.31062H29.6318C28.8861 4.19305 24.501 0.395816 19.3294 0.389404H1.48692C0.665746 0.389404 0 1.05515 0 1.87632V70.2724C0 71.0934 0.665746 71.759 1.48692 71.759H38.6587V68.7853H2.97383V3.3631H19.3294C22.9239 3.36742 25.9212 5.91944 26.6131 9.31062H11.8949V12.2843H28.2504H68.3959V24.1792H71.3698V10.7974C71.3698 9.97637 70.704 9.31062 69.8828 9.31062Z"
                                              fill="#29A285"/>
                                        <path d="M63.8651 43.9244C66.6235 41.7459 68.3961 38.3744 68.3961 34.5866V31.6129C68.3961 25.0436 63.0705 19.718 56.5011 19.718C49.9318 19.718 44.6061 25.0436 44.6061 31.6129V34.1495C44.562 38.0829 46.388 41.616 49.2706 43.8863C44.8705 45.1027 41.6378 49.13 41.6324 53.916V70.2715C41.6324 71.0927 42.2981 71.7584 43.1193 71.7584H69.883C70.7041 71.7584 71.3699 71.0927 71.3699 70.2715V53.916C71.3643 49.1787 68.1969 45.1846 63.8651 43.9244ZM56.501 22.6917C60.3679 22.6956 63.6582 25.1575 64.8963 28.5988C56.5929 28.264 52.8974 25.9358 52.8656 25.9152C52.3409 25.5653 51.6527 25.5844 51.1483 25.9627L48.3041 28.0959C49.6704 24.9202 52.8252 22.6953 56.501 22.6917ZM47.5798 34.1495V32.3563L52.1698 28.9141C53.9318 29.7714 58.1796 31.3933 65.4217 31.5926C65.4217 31.5994 65.4222 31.606 65.4222 31.6128V34.5865C65.4222 34.6796 65.4208 34.7727 65.418 34.8658C65.2714 39.6175 61.4349 43.3852 56.7419 43.5077H56.226C51.3051 43.2023 47.4956 39.0792 47.5798 34.1495ZM60.252 46.4817L56.501 55.8608L52.7501 46.4817H56.1308C56.2557 46.4817 56.3776 46.4817 56.501 46.4817H60.252ZM44.6061 68.7848V53.916C44.61 50.6308 46.743 47.8461 49.6987 46.8627L55.0141 60.1512V65.8111H57.9879V60.1512L63.3033 46.8627C66.2591 47.8461 68.392 50.6306 68.3959 53.916V68.7848H44.6061Z"
                                              fill="#29A285"/>
                                        <path d="M57.9879 36.0735C57.9879 36.8947 57.3222 37.5604 56.501 37.5604C55.6798 37.5604 55.0141 36.8947 55.0141 36.0735H52.0404C52.0404 38.537 54.0375 40.5341 56.501 40.5341C58.9645 40.5341 60.9616 38.537 60.9616 36.0735H57.9879Z"
                                              fill="#29A285"/>
                                        <path class="svg__anim svg__anim_opacity svg__anim_p1"
                                              d="M36.7627 22.5377H18.9202V25.5114H36.7627V22.5377Z" fill="#29A285"/>
                                        <path class="svg__anim svg__anim_opacity svg__anim_p1"
                                              d="M14.5108 22.5377H11.5371V25.5114H14.5108V22.5377Z" fill="#29A285"/>
                                        <path class="svg__anim svg__anim_opacity svg__anim_p2"
                                              d="M36.7627 29.9729H18.9202V32.9466H36.7627V29.9729Z" fill="#29A285"/>
                                        <path class="svg__anim svg__anim_opacity svg__anim_p2"
                                              d="M14.5108 29.9729H11.5371V32.9466H14.5108V29.9729Z" fill="#29A285"/>
                                        <path class="svg__anim svg__anim_opacity svg__anim_p3"
                                              d="M36.7627 37.407H18.9202V40.3807H36.7627V37.407Z" fill="#29A285"/>
                                        <path class="svg__anim svg__anim_opacity svg__anim_p3"
                                              d="M14.5108 37.407H11.5371V40.3807H14.5108V37.407Z" fill="#29A285"/>
                                        <path class="svg__anim svg__anim_opacity svg__anim_p4"
                                              d="M28.2504 44.8412H13.3818C12.5607 44.8412 11.8949 45.5069 11.8949 46.3281V58.223C11.8949 59.0442 12.5607 59.7099 13.3818 59.7099H28.2506C29.0718 59.7099 29.7374 59.0442 29.7374 58.223V46.3281C29.7374 45.5069 29.0716 44.8412 28.2504 44.8412ZM26.7637 56.7362H14.8688V47.815H26.7637V56.7362Z"
                                              fill="#29A285"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <rect width="71.3699" height="71.3699" fill="white"
                                                  transform="translate(0 0.388428)"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <div class="item-advantages__text">Медицинский <br>стаж врачей <br><span
                                        class="item-advantages__strong">более&nbsp;30&nbsp;лет</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search">
            <div class="_container">
                <div class="search__content">
                    <div class="search__row">
                        <div class="search__img _ibg">
                            <img src="/img/search/01.png" alt="">
                        </div>
                        <form action="#" class="search__form _tabs">
                            <div class="search__title">Лечение близко!</div>
                            <div class="search__text">Запишитесь к специалисту, узнайте стоимость улуги или найдите
                                ответ на интересующий вас вопрос
                            </div>
                            <ul class="search__tabs main-tabs">
                                <li class="main-tabs__item _tabs-item _active">Врач/специальность</li>
                                <li class="main-tabs__item _tabs-item">Услуга</li>
                                <li class="main-tabs__item _tabs-item">Заболевание</li>
                            </ul>
                            <div class="_tabs-block _active">
                                <div class="search__input search-input" style="position: relative">
                                    <input autocomplete="off" type="text" name="doctor"
                                           data-value="Введите имя врача или специальность"
                                           class="search-input__input input input_l _req">
                                    <button type="submit" class="search-input__btn btn btn_l btn_prim">найти</button>
                                </div>
                            </div>
                            <div class="_tabs-block">
                                <div class="search__input search-input" style="position: relative">
                                    <input autocomplete="off" type="text" name="service" data-value="Введите услугу"
                                           class="search-input__input input input_l _req">
                                    <button type="submit" class="search-input__btn btn btn_l btn_prim">найти</button>
                                </div>
                            </div>
                            <div class="_tabs-block">
                                <div class="search__input search-input" style="position: relative">
                                    <input autocomplete="off" type="text" name="disease" data-value="Введите заболевание"
                                           class="search-input__input input input_l _req">
                                    <button type="submit" class="search-input__btn btn btn_l btn_prim">найти</button>
                                </div>
                            </div>
                            <div class="search__clinics">
                                <div class="search__clinic radio">
                                    <input type="radio" name="treatment_search_clinic[]" class="radio__input" id="treatment_search_clinic_none" checked value="">
                                    <label for="treatment_search_clinic_none" class="radio__text">Все клиники</label>
                                </div>
                                {% for clinic in clinics %}
                                    {% if clinic.name == "Клиника Лечения Позвоночника на Лесной" %}
                                    <div class="search__clinic radio">
                                        <input type="radio" name="treatment_search_clinic[]" class="radio__input" id="treatment_search_clinic_{{ clinic.id }}" value="{{ clinic.id }}">
                                        <label for="treatment_search_clinic_{{ clinic.id }}" class="radio__text">{{ clinic }}</label>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% include 'main/_doctors.html.twig' %}
        {% if clinics|length %}
            {% include 'main/_ask_question.html.twig' with {clinic: clinics[0]} %}
        {% endif %}
{#
        <section class="reviews _container">
            <h2 class="reviews__header h2 _scroll-icon _scr-item">Отзывы</h2>
            <ul class="reviews__row">reviews _container
                <li class="reviews__item reviews__item_big review-card review-card_big">
                    <div class="review-card__body">
                        <div class="review-card__header">
                            <div class="review-card__from from-review">
                                <div class="from-review__ava _ibg" data-initials="юа"><img
                                            src="img/reviews/ava-review.png" alt="">
                                </div>
                                <div class="from-review__body">
                                    <div class="from-review__date">02.11.2020</div>
                                    <div class="from-review__name">Юлия Антонова</div>
                                </div>
                            </div>
                            <div class="review-card__rating">
                                <div class="rating-link">
                                    <div class="rating-link__top">4.6</div>
                                    <div class="rating-link__bottom">
                                        <img class="rating-link__logo" src="/img/rating-clinic/napopravky.svg"
                                             alt="logo">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-card__text">Хочу выразить свою благодарность всей команде врачей, которые
                            обеспечивали мне комплексное лечение: Егорову Владимиру Леонидовичу, Беляеву Евгению
                            Михайловичу, Жартанову Олегу Алексеевичу, Перовой Елене Валентиновне. Спасибо за
                            неравнодушие, высокий профессионализм и внимательность.
                        </div>
                        <div class="review-card__answer answer-review">
                            <div class="answer-review__row">
                                <div class="answer-review__ava"><img src="img/reviews/ava-answer.svg" alt=""></div>
                                <div class="answer-review__text">Добрый день. Благодарим за отзыв и тёплые слова в адрес
                                    нашей клиники!
                                </div>
                            </div>
                        </div>
                        <div class="review-card__direction direction-link">
                            <a href="" class="direction-link__metro direction-link__metro_blue">м. Московская</a>
                            <span class="direction-link__distance">1,5 км</span>
                        </div>
                    </div>
                    <div class="review-card__video">
                        <a href="#video" data-video="PH6JUtCaykQ"
                           class="_popup-link link-youtube link-youtube_m _icon-youtube _ibg">
                            <img src="img/reviews/video.png" alt="">
                        </a>
                    </div>
                </li>
                <li class="reviews__action ad-block">
                    <div class="ad-block__content">
                        <div class="ad-block__title ad-block__title_big">Оцените работу доктора</div>
                        <div class="ad-block__subtitle">Мы всегда готовы развиваться
                            и с нетерпением ждём ваших комментариев.
                        </div>
                        <div class="ad-block__text">Уделите несколько минут тому, чтобы оставить отзыв о лечении у
                            доктора. Рассказав о своих впечатлениях, вы поможете нам стать лучше.
                        </div>
                        <button data-form="give-feedback" class="ad-block__btn btn btn_m btn_inv _popup-link">оставить
                            отзыв
                        </button>
                    </div>
                </li>
                <li class="reviews__item review-card">
                    <div class="review-card__body">
                        <div class="review-card__header">
                            <div class="review-card__from from-review">
                                <div class="from-review__ava _ibg" data-initials="юа"><img
                                            src="img/reviews/ava-review.png" alt="">
                                </div>
                                <div class="from-review__body">
                                    <div class="from-review__date">02.11.2020</div>
                                    <div class="from-review__name">Юлия Антонова</div>
                                </div>
                            </div>
                        </div>
                        <div class="review-card__text">Хочу выразить свою благодарность всей команде врачей, которые
                            обеспечивали мне комплексное лечение: Егорову Владимиру Леонидовичу, Беляеву Евгению
                            Михайловичу, Жартанову Олегу Алексеевичу, Перовой Елене Валентиновне. Спасибо за
                            неравнодушие, высокий профессионализм и внимательность.
                            <br>Евгению Михайловичу, Жартанову Олегу Алексеевичу, Перовой Елене Валентиновне. Спасибо!
                        </div>
                        <div class="review-card__direction direction-link">
                            <a href="" class="direction-link__metro direction-link__metro_red">м. Лесная</a>
                            <span class="direction-link__distance">700 м</span>
                        </div>
                    </div>
                </li>
                <li class="reviews__item review-card">
                    <div class="review-card__body">
                        <div class="review-card__header">
                            <div class="review-card__from from-review">
                                <div class="from-review__ava _ibg" data-initials="mn"></div>
                                <div class="from-review__body">
                                    <div class="from-review__date">02.11.2020</div>
                                    <div class="from-review__name">Marina Neonova</div>
                                </div>
                            </div>
                            <div class="review-card__rating">
                                <div class="rating-link">
                                    <div class="rating-link__top">4.6</div>
                                    <div class="rating-link__bottom">
                                        <img class="rating-link__logo" src="/img/rating-clinic/napopravky.svg"
                                             alt="logo">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-card__text">
                            Хочу выразить свою благодарность всей команде врачей, которые обеспечивали мне комплексное
                            лечение: Егорову Владимиру Леонидовичу, Беляеву Евгению Михайловичу, Жартанову Олегу
                            Алексеевичу, Перовой Елене Валентиновне. Спасибо за неравнодушие,
                            Хочу выразить свою благодарность всей команде врачей, которые обеспечивали мне комплексное
                            лечение: Егорову Владимиру Леонидовичу, Беляеву Евгению Михайловичу, Жартанову Олегу
                            Алексеевичу, Перовой Елене Валентиновне. Спасибо за неравнодушие,
                        </div>
                        <div class="review-card__about about-review">
                            <div class="about-review__title">Отзыв о:</div>
                            <div class="about-review__item">
                                <div class="about-review__ava _ibg"><img src="img/reviews/ava-doctor.png" alt=""></div>
                                <div class="about-review__body">
                                    <a href="" class="about-review__name">Хиславская Елена Владимировна</a>
                                    <div class="about-review__position">Невролог / Вертебролог</div>
                                </div>
                            </div>
                        </div>
                        <div class="review-card__direction direction-link">
                            <a href="" class="direction-link__metro direction-link__metro_red">м. Академическая</a>
                            <span class="direction-link__distance">700 м</span>
                        </div>
                    </div>
                </li>
                <li class="reviews__item review-card">
                    <div class="review-card__body">
                        <div class="review-card__header">
                            <div class="review-card__from from-review">
                                <div class="from-review__ava _ibg" data-initials="юа"></div>
                                <div class="from-review__body">
                                    <div class="from-review__date">02.11.2020</div>
                                    <div class="from-review__name">Юлия Антонова</div>
                                </div>
                            </div>
                        </div>
                        <div class="review-card__text">Хочу выразить свою благодарность всей команде врачей, которые
                            обеспечивали мне комплексное лечение: Егорову Владимиру Леонидовичу.
                        </div>
                        <div class="review-card__about about-review">
                            <div class="about-review__title">Отзыв о:</div>
                            <div class="about-review__item">
                                <div class="about-review__ava _ibg"><img src="img/reviews/ava-doctor.png" alt=""></div>
                                <div class="about-review__body">
                                    <a href="" class="about-review__name">Хиславская Елена Владимировна</a>
                                    <div class="about-review__position">Невролог / Вертебролог</div>
                                </div>
                            </div>
                            <div class="about-review__item">
                                <div class="about-review__ava _ibg"><img src="img/reviews/ava-doctor.png" alt=""></div>
                                <div class="about-review__body">
                                    <a href="" class="about-review__name">Хиславская Елена Владимировна</a>
                                    <div class="about-review__position">Невролог / Вертебролог</div>
                                </div>
                            </div>
                        </div>
                        <div class="review-card__direction direction-link">
                            <a href="" class="direction-link__metro direction-link__metro_blue">м. Московская</a>
                            <span class="direction-link__distance">1,5 км</span>
                        </div>
                    </div>
                </li>
            </ul>
            <a href="" class="reviews__all link link_all">Читать все отзывы</a>
        </section>
#}
        {% include 'review/_list.html.twig' %}
        <div class="how-to _container">
            <div class="how-to__content">
                <div class="how-to__title">Как проходит лечение в нашей клинике</div>
                <ul class="how-to__row">
                    <li class="how-to__col">
                        <div class="how-to__item item-step">
                            <div class="item-step__row">
                                <div class="item-step__col item-step__col_left">
                                    <div class="item-step__img">
                                        <div class="_ibg">
                                            <img src="img/how-to/01.png" alt="">
                                        </div>
                                    </div>
                                    <span class="item-step__caption">1 шаг</span>
                                </div>
                                <div class="item-step__col item-step__col_right">
                                    <div class="item-step__title">Консультация<br> по телефону</div>
                                    <div class="item-step__text">Медицинский консультант расспросит о симптомах,
                                        подберет подходящего врача, расскажет про стоимость процедур и запишет на
                                        первичный приём.
                                    </div>
                                    <div class="item-step__tags">
                                        <span class="item-step__tag _icon-time">10-15 мин.</span>
                                        <span class="item-step__tag _icon-money">Бесплатно</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="how-to__col">
                        <div class="how-to__item item-step">
                            <div class="item-step__row">
                                <div class="item-step__col item-step__col_left">
                                    <div class="item-step__img">
                                        <div class="_ibg">
                                            <img src="img/how-to/02.png" alt="">
                                        </div>
                                    </div>
                                    <span class="item-step__caption">2 шаг</span>
                                </div>
                                <div class="item-step__col item-step__col_right">
                                    <div class="item-step__title">Прием невролога<br> или ортопеда</div>
                                    <div class="item-step__text">Врач проведет полноценный осмотр, соберет анамнез,
                                        изучит результаты исследования или назначит диагностику, и поставит
                                        предварительный диагноз.
                                    </div>
                                    <div class="item-step__tags">
                                        <span class="item-step__tag _icon-time">30-40 мин.</span>
                                        <span class="item-step__tag _icon-money">Бесплатно</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="how-to__col">
                        <div class="how-to__item item-step">
                            <div class="item-step__row">
                                <div class="item-step__col item-step__col_left">
                                    <div class="item-step__img">
                                        <div class="_ibg">
                                            <img src="img/how-to/03.png" alt="">
                                        </div>
                                    </div>
                                    <span class="item-step__caption">3 шаг</span>
                                </div>
                                <div class="item-step__col item-step__col_right">
                                    <div class="item-step__title">Диагностика и лечение<br> в один день</div>
                                    <div class="item-step__text">В один день можно пройти несколько процедур из курса
                                        лечения. Комплексный подход обеспечивает быстрый результат и максимальную
                                        безопасность для пациента.
                                    </div>
                                    <div class="item-step__tags">
                                        <span class="item-step__tag _icon-time">3-4 часа</span>
                                        <span class="item-step__tag _icon-money">от 470 ₽</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="how-to__col">
                        <div class="how-to__item item-step">
                            <div class="item-step__row">
                                <div class="item-step__col item-step__col_left">
                                    <div class="item-step__img">
                                        <div class="_ibg">
                                            <img src="img/how-to/04.png" alt="">
                                        </div>
                                    </div>
                                    <span class="item-step__caption">4 шаг</span>
                                </div>
                                <div class="item-step__col item-step__col_right">
                                    <div class="item-step__title">Снимем острую<br> боль</div>
                                    <div class="item-step__text">После обследования врач проведет процедуры по снятию
                                        острой боли. Вы почувствуете значительное облегчение в день обращения в клинику.
                                    </div>
                                    <div class="item-step__tags">
                                        <span class="item-step__tag _icon-time">30 мин.</span>
                                        <span class="item-step__tag _icon-money">от 680 ₽</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="how-to__col">
                        <div class="how-to__item item-step">
                            <div class="item-step__row">
                                <div class="item-step__col item-step__col_left">
                                    <div class="item-step__img">
                                        <div class="_ibg">
                                            <img src="img/how-to/03.png" alt="">
                                        </div>
                                    </div>
                                    <span class="item-step__caption">5 шаг</span>
                                </div>
                                <div class="item-step__col item-step__col_right">
                                    <div class="item-step__title">Диагностика и лечение<br> в один день</div>
                                    <div class="item-step__text">В один день можно пройти несколько процедур из курса
                                        лечения. Комплексный подход обеспечивает быстрый результат и максимальную
                                        безопасность для пациента.
                                    </div>
                                    <div class="item-step__tags">
                                        <span class="item-step__tag _icon-time">3-4 часа</span>
                                        <span class="item-step__tag _icon-money">от 470 ₽</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="how-to__col">
                        <div class="how-to__item item-step">
                            <div class="item-step__row">
                                <div class="item-step__col item-step__col_left">
                                    <div class="item-step__img">
                                        <div class="_ibg">
                                            <img src="img/how-to/04.png" alt="">
                                        </div>
                                    </div>
                                    <span class="item-step__caption">6 шаг</span>
                                </div>
                                <div class="item-step__col item-step__col_right">
                                    <div class="item-step__title">Снимем острую<br> боль</div>
                                    <div class="item-step__text">После обследования врач проведет процедуры по снятию
                                        острой боли. Вы почувствуете значительное облегчение в день обращения в клинику.
                                    </div>
                                    <div class="item-step__tags">
                                        <span class="item-step__tag _icon-time">30 мин.</span>
                                        <span class="item-step__tag _icon-money">от 680 ₽</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="how-to__action">
                    <button data-form="make-appointment" class="how-to__btn btn btn_prim btn_l _popup-link">Записаться
                        на первичный приём
                    </button>
                    <div class="how-to__text">Специалист перезвонит вам в течение 15 минут и ответит на все вопросы
                    </div>
                </div>
            </div>
        </div>
        {% include 'main/_articles.html.twig' %}
{#        <section class="news _container">#}
{#            <h2 class="news__header h2">Новости</h2>#}
{#            <div class="news__row">#}
{#                <div class="news__items items-news _scr-item _scroll-icon">#}
{#                    <div class="items-news__row">#}
{#                        <div class="items-news__item">#}
{#                            <div class="item-news">#}
{#                                <div class="item-news__head">#}
{#                                    <div class="item-news__date">02.11.2020</div>#}
{#                                    <a href="" class="item-news__title">Важно! Меры защиты от коронавирусной инфекции в#}
{#                                        «Мастерской Здоровья»</a>#}
{#                                </div>#}
{#                                <div class="item-news__body">#}
{#                                    <p class="item-news__text">#}
{#                                        Мы заботимся о здоровье пациентов и принимаем все необходимые меры защиты в#}
{#                                        период эпидемии.#}
{#                                    </p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="items-news__item">#}
{#                            <div class="item-news">#}
{#                                <div class="item-news__head">#}
{#                                    <div class="item-news__date">02.11.2020</div>#}
{#                                    <a href="" class="item-news__title">Приглашаем вас 16 декабря в 10.30 на занятие в#}
{#                                        Школе Остеопороза</a>#}
{#                                </div>#}
{#                                <div class="item-news__body">#}
{#                                    <p class="item-news__text">#}
{#                                        Приглашаем вас 16 декабря в 10.30 на занятие в Школе Остеопороза#}
{#                                    </p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="items-news__item">#}
{#                            <div class="item-news">#}
{#                                <div class="item-news__head">#}
{#                                    <div class="item-news__date">02.11.2020</div>#}
{#                                    <a href="" class="item-news__title">Важно! Меры защиты от коронавирусной инфекции в#}
{#                                        «Мастерской Здоровья»</a>#}
{#                                </div>#}
{#                                <div class="item-news__body">#}
{#                                    <p class="item-news__text">#}
{#                                        Мы заботимся о здоровье пациентов и принимаем все необходимые меры защиты в#}
{#                                        период эпидемии.#}
{#                                    </p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <a href="" class="items-news__all link link_all">Читать все новости</a>#}
{#                </div>#}
{#                <div class="news__actions actions-news">#}
{#                    <div class="actions-news__row">#}
{#                        <div class="actions-news__item ad-block">#}
{#                            <div class="ad-block__content">#}
{#                                <div class="ad-block__labels">#}
{#                                    <span class="label">акция</span>#}
{#                                    <span class="label label_price">специальная цена</span>#}
{#                                </div>#}
{#                                <div class="ad-block__title">Консультация врача высшей категории#}
{#                                    за 0 рублей!#}
{#                                </div>#}
{#                                <a href="" class="ad-block__btn btn btn_m btn_inv">подробнее</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <a href="{{ path('promos') }}" class="actions-news__all link link_all">Смотреть все акции</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
        <section class="director _container">
            <div class="director__content">
                <div class="director__row">
                    <div class="director__col">
                        <div class="director__words words-director">
                            <div class="words-director__title h2">Обращение генерального директора</div>
                            <div class="words-director__row">
                                <div class="words-director__photo"><img src="{{ asset('/img/director/photo.png') }}" alt=""></div>
                                <div class="words-director__body">
                                    <div class="words-director__text">
                                        «Мастерская Здоровья» — это сеть из трёх клиник лечения позвоночника и суставов
                                        и современного центра диагностики. <br>Мы успешно диагностируем и лечим болезни
                                        позвоночника и суставов с 2003 года. За 17 лет работы мы вылечили больше 60
                                        тысяч пациентов.
                                    </div>
                                    <div class="words-director__sign"></div>
                                    <div class="words-director__name">Медведева<br> Александра Викторовна</div>
                                    <div class="words-director__position">Ген. директор клиники</div>
                                </div>
                            </div>
                            <div class="words-director__btns">
                                <button data-form="to-director"
                                        class="words-director__btn btn btn_prim btn_m _popup-link">написать директору
                                </button>
                                <a href="" class="words-director__btn btn btn_sec btn_m">о клинике</a>
                            </div>
                        </div>
                    </div>
                    <div class="director__col">
                        <div class="director__video video-director">
                            <div class="video-director__title">Узнай о сети клиник «Мастерская Здоровья» <br>за 2 минуты
                            </div>
                            <a href="#video" data-video="qmNdBjKZaxg"
                               class="video-director__link _popup-link link-youtube _icon-youtube _ibg"><img
                                        src="{{ asset('/img/director/video.png') }}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include 'clinic_rating/_section.html.twig' %}
        {% include 'main/_certs.html.twig' %}
    </main>
{% endblock %}
{% block popups %}
    {{ parent() }}
    {% include '_popups/_video.html.twig' %}
{% endblock %}
