<div class="branches__col" style="flex: 0 0 33%;">>
    <div class="branch">
        <div class="branch__content">
            <a href="{{ path('disease-category', {slug: category.slug}) }}" class="branch__title">{{ category }}</a>
            <div class="branch__items">
                {% if category.diseases|length %}
                    <ul class="branch__list branch__list_services" data-simplebar
                        data-simplebar-auto-hide="false">
                        {% for disease in category.diseases %}
                            <li class="branch__item"><a href="{{ path('disease.show', {slug: disease.slug}) }}" class="branch__link">{{ disease }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <a href="{{ path('disease-category', {slug: category.slug}) }}" class="branch__show-all">Подробнее</a>
            </div>
        </div>
    </div>
</div>
