<form action="{{ form.vars.action }}" class="form-appointment form-appointment_bg-clear ajax">
    {{ form_widget(form._token) }}
    <!-- article -->
    {{ form_widget(form.article) }}
    <!-- //article -->
    <div class="form-appointment__header">Добавьте комментарий</div>
    <div class="form-appointment__input">
        <div class="form-appointment__label"><label for="send-comment-name">Имя</label></div>
        <input autocomplete="off" type="text" name="{{ form.authorName.vars.full_name }}" id="send-comment-name" data-value="Иванов Иван" class="input input_m _req">
    </div>
    <div class="form-appointment__input">
        <div class="form-appointment__label"><label for="send-comment-phone">Телефон</label>
        </div>
        <input autocomplete="off" type="text" name="{{ form.authorTel.vars.full_name }}" id="send-comment-phone" data-value="+7(___) ___ __ __" class="input input_m _req _phone _mask" inputmode="text">
    </div>
    <div class="form-appointment__input">
        <div class="form-appointment__label"><label for="send-comment-text">Что вам понравилось
                или не понравилось?</label></div>
        <textarea name="{{ form.text.vars.full_name }}" id="send-comment-text" data-value="..." class="input _req"></textarea>
    </div>
    <div class="form-appointment__checkbox checkbox">
        <input type="checkbox" class="checkbox__input" id="send-comment-agreement" checked="">
        <label for="send-comment-agreement" class="checkbox__text">Сохранить мое имя, емейл и
            адрес сайта в этом браузере для последующих комментариев.</label>
    </div>
    <button type="submit" class="form-appointment__btn btn btn_l btn_prim">Отправить
        комментарий
    </button>
</form>
