<form action="{{ form.vars.action }}" name="{{ form.vars.full_name }}" class="form-appointment form-appointment_bg-silver-row ajax">
    {{ form_widget(form._token) }}
    <div class="form-appointment__header">Записаться на бесплатный прием</div>
    <div class="form-appointment__text">Специалист перезвонит вам в течение 15 минут и ответит на все вопросы </div>
    <div class="form-appointment__input form-appointment__input_name">
        <div class="form-appointment__label"><label for="appointment-name">Имя</label></div>
        <input autocomplete="off" type="text" name="{{ form.clientName.vars.full_name }}" id="appointment-name" data-value="Иванов Иван" class="input input_m _req">
    </div>
    <div class="form-appointment__input form-appointment__input_phone">
        <div class="form-appointment__label"><label for="appointment-phone">Телефон</label></div>
        <input autocomplete="off" type="text" name="{{ form.clientTel.vars.full_name }}" id="appointment-phone" data-value="+7(___) ___ __ __" class="input input_m _req _phone">
    </div>
    <div class="form-appointment__checkbox checkbox">
        <input type="checkbox" class="checkbox__input _req" id="appointment-agreement" checked="">
        <label for="appointment-agreement" class="checkbox__text">Нажимая на кнопку, вы даете согласие на обработку своих <a href="">персональных данных</a>.</label>
    </div>
    <div class="form-appointment__btn">
        <button type="submit" class="btn btn_l btn_prim">Записаться</button>
    </div>
</form>
