<div class="popup popup_form popup_ask-question">
    <div class="popup__content">
        <div class="popup__body">
            {{ form_start(form) }}
                <div class="form-appointment__header">Задайте вопрос специалисту</div>
                <div class="form-appointment__input">
                    <div class="form-appointment__label">{{ form_label(form.questionText) }}</div>
                    {{ form_widget(form.questionText) }}
                </div>
                <div class="form-appointment__input">
                    <div class="form-appointment__label">{{ form_label(form.authorName) }}</div>
                    {{ form_widget(form.authorName) }}
                </div>
                <div class="form-appointment__input">
                    <div class="form-appointment__label">{{ form_label(form.authorEmail) }}</div>
                    {{ form_widget(form.authorEmail) }}
                </div>
                <div class="form-appointment__text form-appointment__text_x-small">Укажите свой адрес электронной почты, чтобы получить ответ специалиста письмом.</div>
                <div class="form-appointment__checkbox checkbox">
                    {{ form_widget(form.isPublicationAllowed) }}
                    {{ form_label(form.isPublicationAllowed) }}
                </div>
                <div class="form-appointment__input">
                    <button type="submit" class="form-appointment__btn btn btn_m btn_prim">Отправить</button>
                </div>
                <div class="form-appointment__checkbox checkbox">
                    <input type="checkbox" class="checkbox__input _req" id="aq-appointment-agreement" checked>
                    <label for="aq-appointment-agreement" class="checkbox__text">Нажимая на кнопку, вы даете согласие на обработку своих <a href="">персональных данных</a>.</label>
                </div>
            {{ form_end(form) }}
            <div class="popup__close"></div>
        </div>
    </div>
</div>
