{% if doctor.clinics|length %}
    {% if doctor.clinics.count == 1 %}
        <div class="card-doctor__direction direction-link">
            <a href="{{ path('contacts', {slug: doctor.clinics.first.slug}) }}"
               class="direction-link__metro direction-link__metro_{{ doctor.clinics.first.color }}">{{ doctor.clinics.first.name }}</a>
            <span class="direction-link__distance">{{ doctor.clinics.first.distance }}</span>
        </div>
    {% else %}
        <div class="card-doctor__direction direction-popup">
            <div class="direction-popup__spoller direction-popup__spoller_{{ doctor.clinics.first.color }}">
                <div class="direction-link direction-link_blue">
                    <span class="direction-link__metro">{{ doctor.clinics.first.name }}</span>
                    <span class="direction-link__distance">{{ doctor.clinics.first.distance }}</span>
                </div>
            </div>
            <div class="direction-popup__body">
                {% for clinic in doctor.clinics %}
                    <div class="direction-popup__item direction-link">
                        <a href="{{ path('contacts', {slug: clinic.slug}) }}" class="direction-link__metro direction-link__metro_{{ clinic.color }}">{{ clinic.name }}</a>
                        <span class="direction-link__distance">{{ clinic.distance }}</span>
                        <address class="direction-link__address">{{ clinic.address }}</address>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endif %}
