{% extends 'base.html.twig' %}

{% from 'macroses.html.twig' import image %}

{% block title %}{{ seo.title|default(specialty.name ) }}{% endblock %}
{% block description %}{{ seo.description|default("") }}{% endblock %}
{% block robots %}{{ seo.robots|default('<meta name="robots" content="index, follow">')|raw }}{% endblock %}
{% block canonical %}{{ seo.canonical|default(app.request.uri) }}{% endblock %}

{% block content %}
    <main class="page page_specialties-card">
        <div class="_container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></li>
                <li class="breadcrumbs__item"><a href="{{ path('doctors') }}" class="breadcrumbs__link">Врачи</a></li>
                <li class="breadcrumbs__item">{{ specialty.name }}</li>
            </ul>
        </div>
        <div class="_container">
            <h1 class="doc-profile__name">{{ seo.h1|default(specialty.name) }}</h1>
            <div class="_wysiwyg">{{ specialty.content|raw }}</div>
        </div>
        <section class="doctors _container">
            <h2 class="doctors__header h2">Врачи специализации {{ specialty.name }}</h2>
            <div class="doctors__row">
                <div class="doctors__col doctors__col_3x">
                    <div class="doctors__slider_4 _swiper swiper-bild">
                        <ul class="swiper-wrapper">
                            {% for doctor in specialty.doctors %}
                                <li class="doctors__item swiper-slide _active">
                                    {% include 'doctor/_card1.html.twig' %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="doctors__nav nav-doctor">
                        <button class="nav-doctor__btn nav-doctor__btn_prev swiper-button swiper-button_prev swiper-button_m"></button>
                        <div class="nav-doctor__fraction"></div>
                        <button class="nav-doctor__btn nav-doctor__btn_next swiper-button swiper-button_next swiper-button_m"></button>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
