{% extends 'base.html.twig' %}

{% block title %}{{ seo.title|default('Наш блог') }}{% endblock %}
{% block description %}{{ seo.description|default("") }}{% endblock %}
{% block robots %}{{ seo.robots|default('<meta name="robots" content="index, follow">')|raw }}{% endblock %}
{% block canonical %}{{ seo.canonical|default(app.request.uri) }}{% endblock %}

{% block content %}
    <main class="page page_blog">
        <div class="_container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Главная</a></li>
                <li class="breadcrumbs__item">Наш блог</li>
            </ul>
            <h1 class="page__header h1">{{ seo.h1|default("Наш блог") }}</h1>
        </div>
        <section class="blog-main _container">
            <h2 class="blog-main__header h2">Быстрый поиск по статьям</h2>
            <form action="#" class="blog-main__search search-form">
                <div class="search-form__input _icon-search">
                    <input autocomplete="off" type="text" name="form[]" data-value="Поиск по статьям" class="input input_l">
                </div>
                <div class="search-form__select search-form__select_author">
                    <select name="form[]" class="l" data-type="input" data-placeholder="Выбрать автора">
                        {% for author in authors %}
                            <option value="{{ author.id }}">{{ author }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="search-form__reset">
                    <button type="reset" class="_icon-refresh">Сбросить фильтры</button>
                </div>
                <ul class="search-form__filter">
                    <li class="search-form__property">по рейтингу</li>
                    <li class="search-form__property _active">по дате</li>
                    <li class="search-form__property">обсуждаемое</li>
                </ul>
            </form>
            <div class="blog">
                <div class="blog__row">
                    <div class="blog__pop pop-blog">
                        <div class="pop-blog__links pop-blog__links_top">
                            <div class="pop-blog__title _scr-item _scroll-icon _active">Смотреть статьи по теме:</div>
                            <div class="links-blog">
                                {% for tag in tags %}
                                    <a href="{{ path('articles', {'tagSlug': tag.slug}) }}"
                                       class="links-blog__item{{ tag.slug is same as currentTagSlug ? ' _active' }}"
                                    >
                                        {{ tag.name }} ({{ tag.articles.count }})
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="blog__main main-blog">
                        <div class="main-blog__items">
                            {% for article in articles %}
                                {% include 'article/_card.html.twig' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="blog__more">Показать еще</div>
                    <div class="blog__pagination">
                        {% include '_pagination.html.twig' with {currentPage: app.request.query.get('page', 1), lastPage: articles.pagesCount} %}
                    </div>
                    <div class="blog__socials socials">
                        <div class="socials__title">Больше статей в<br> социальных сетях</div>
                        <div class="socials__text">Следите за акциями, новостями и<br> полезной информацией</div>
                        <div class="socials__links">
                            <a href="#" class="socials__link _icon-vk"></a>
                            <a href="#" class="socials__link _icon-facebook"></a>
                            <a href="#" class="socials__link _icon-youtube"></a>
                            <a href="#" class="socials__link"><img src="img/icons/instagram.png" alt=""></a>
                            <a href="#" class="socials__link _icon-telegram"></a>
                        </div>
                    </div>
                    <div class="blog__banner banner-blog _scr-item">
                        <div class="banner-blog__title">Мы пишем для вас<br> чтобы помочь принять<br> правильное решение<br> о вашем здоровье.</div>
                        <div class="banner-blog__body">
                            <div class="banner-blog__advantage">
                                <div class="banner-blog__img">
                                    <svg class="item-advantages__icon svg" width="46" height="46" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0)">
                                            <path d="M36.6341 69.3789C36.375 69.1196 36.0153 68.9705 35.6487 68.9705C35.282 68.9705 34.9223 69.1196 34.6632 69.3789C34.4039 69.6382 34.2548 69.9978 34.2548 70.3644C34.2548 70.731 34.4038 71.0906 34.6632 71.3499C34.9223 71.6092 35.282 71.7583 35.6487 71.7583C36.0153 71.7583 36.375 71.6092 36.6341 71.3499C36.8934 71.0906 37.0427 70.731 37.0427 70.3644C37.0427 69.9978 36.8935 69.6382 36.6341 69.3789Z" fill="#ffffff"></path>
                                            <path d="M63.9207 45.9803L59.2707 44.8695V43.025C61.8518 41.3937 63.5708 38.5167 63.5708 35.2443V30.0495C63.5708 24.9765 59.4436 20.8495 54.3705 20.8495C51.6339 20.8495 49.174 22.0519 47.4872 23.9545C46.0099 18.8383 41.2848 15.0858 35.6994 15.0858H35.6993C30.1049 15.0858 25.3734 18.8502 23.9043 23.9789C22.2171 22.0622 19.7481 20.8495 16.9998 20.8495C11.9267 20.8495 7.79953 24.9767 7.79953 30.0495V35.2443C7.79953 38.5169 9.51854 41.3938 12.0996 43.025V44.8695L7.44965 45.9803C3.06333 47.028 0 50.9092 0 55.4184V64.7887C0 65.5585 0.624208 66.1826 1.39394 66.1826H12.5403V70.3644C12.5403 71.1343 13.1645 71.7584 13.9343 71.7584H29.2264C29.9961 71.7584 30.6203 71.1343 30.6203 70.3644C30.6203 69.5945 29.9961 68.9705 29.2264 68.9705H23.0034V62.8355C23.0034 62.0656 22.3792 61.4415 21.6095 61.4415C20.8397 61.4415 20.2155 62.0656 20.2155 62.8355V68.9705H15.3281V62.6813C15.3281 57.9539 18.5389 53.8829 23.1363 52.7812L29.9921 51.1383L34.4034 61.1742C34.6258 61.6803 35.1264 62.0072 35.6792 62.0072H35.6794C36.2322 62.0072 36.7329 61.6804 36.9554 61.1743L41.3622 51.1531L48.1981 52.7861C52.7996 53.8852 56.0132 57.9571 56.0132 62.6878V64.2433C55.942 64.4109 55.9024 64.595 55.9024 64.7885C55.9024 64.982 55.942 65.1663 56.0132 65.3337V68.9705H51.1544V62.8355C51.1544 62.0656 50.5302 61.4415 49.7604 61.4415C48.9907 61.4415 48.3665 62.0656 48.3665 62.8355V68.9705H41.5396C40.7699 68.9705 40.1457 69.5945 40.1457 70.3644C40.1457 71.1343 40.7699 71.7584 41.5396 71.7584H57.4072C58.1769 71.7584 58.8011 71.1343 58.8011 70.3644V66.1826H69.9759C70.7457 66.1826 71.3699 65.5585 71.3699 64.7887V55.4184C71.3699 50.9092 68.3066 47.028 63.9207 45.9803ZM54.3703 23.6374C57.9061 23.6374 60.7828 26.5139 60.7828 30.0495V30.3947V30.5347H56.7957C53.7839 30.5347 50.8244 29.744 48.2162 28.2451C48.9977 25.5851 51.4608 23.6374 54.3703 23.6374ZM47.9579 35.0168C47.9628 34.8745 47.9663 31.2688 47.9663 31.2688C50.7066 32.6165 53.7277 33.3228 56.7958 33.3228H60.7829V35.2445C60.7827 38.7801 57.9061 41.6565 54.3703 41.6565C50.8346 41.6565 47.9579 38.7799 47.9579 35.2443V35.0168ZM26.2201 27.3527C26.2201 22.1259 30.4724 17.8738 35.6993 17.8738C40.926 17.8738 45.1784 22.1261 45.1784 27.3527V27.5344L40.0048 24.4949C39.4178 24.1499 38.6676 24.2797 38.2303 24.8015C36.2202 27.2002 33.2723 28.576 30.1425 28.576H26.2201V27.3527ZM10.5871 30.3948V30.0495C10.5871 26.5138 13.4638 23.6374 16.9996 23.6374C19.9091 23.6374 22.3722 25.5851 23.1535 28.2452C20.5453 29.744 17.586 30.5349 14.5741 30.5349H10.5871V30.3948ZM10.5871 35.2443V33.3226H14.5742C17.6454 33.3226 20.6695 32.6151 23.412 31.2648V35.2443C23.412 38.7801 20.5353 41.6565 16.9996 41.6565C13.4638 41.6565 10.5871 38.7799 10.5871 35.2443ZM12.5403 62.6813V63.3947H8.36366V57.2016C8.36366 56.4317 7.73945 55.8076 6.96972 55.8076C6.19998 55.8076 5.57577 56.4317 5.57577 57.2016V63.3947H2.78789V55.4184C2.78789 52.2047 4.97108 49.4387 8.097 48.692L12.5155 47.6363L15.3993 54.544C13.5957 56.7846 12.5403 59.6247 12.5403 62.6813ZM16.9998 51.1411L14.8829 46.0701C14.8852 46.0368 14.8872 46.0035 14.8872 45.9697V44.1969C15.5659 44.3569 16.2726 44.4443 16.9996 44.4443C17.7233 44.4443 18.4267 44.3576 19.1027 44.199V45.8815C19.1012 45.9077 19.1005 45.9339 19.1005 45.9601C19.1005 46.004 19.1047 46.0477 19.1089 46.0913L16.9998 51.1411ZM22.4867 50.0702C21.6635 50.2674 20.8769 50.5419 20.1301 50.8803L21.4878 47.6294L25.907 48.6883C26.2498 48.7704 26.5837 48.879 26.907 49.0109L22.4867 50.0702ZM29.4056 47.1648C28.5305 46.622 27.5704 46.2201 26.5567 45.9773L21.8906 44.8592V43.031C23.0511 42.2996 24.0367 41.3166 24.7715 40.1585C25.8224 42.2117 27.4353 43.931 29.4056 45.1136V47.1648ZM39.1605 49.2341L35.6796 57.1497L32.1935 49.2186V46.3437C33.3048 46.6758 34.4814 46.8549 35.6992 46.8549C36.9007 46.8549 38.0623 46.6804 39.1605 46.3568V49.2341ZM35.6993 44.0671C30.4723 44.067 26.2201 39.8148 26.2201 34.5882V31.364H30.1423C33.7002 31.364 37.0723 29.9578 39.5636 27.4692L45.1702 30.7629V34.9153C44.9968 39.9908 40.8165 44.0671 35.6993 44.0671ZM41.9483 45.1398H41.9485C43.931 43.9612 45.5552 42.2407 46.6142 40.1831C47.3474 41.3304 48.3272 42.3046 49.4793 43.031V44.8592L44.8132 45.9773C43.7934 46.2216 42.8278 46.6271 41.9483 47.1749V45.1398ZM48.8457 50.0748L44.4374 49.0215C44.7686 48.8849 45.1111 48.7727 45.4629 48.6883L49.8714 47.632L51.2347 50.8975C50.4782 50.5529 49.6807 50.2742 48.8457 50.0748ZM52.2581 46.1121C52.2637 46.0615 52.2677 46.0106 52.2677 45.9596C52.2677 45.9466 52.2676 45.9335 52.2672 45.9205V44.199C52.9432 44.3578 53.6466 44.4443 54.3703 44.4443C55.0973 44.4443 55.804 44.3569 56.4827 44.1968V45.9696C56.4827 45.995 56.4845 46.0199 56.4859 46.045L54.3576 51.1411L52.2581 46.1121ZM68.582 63.3947H65.7941V57.2016C65.7941 56.4317 65.1699 55.8076 64.4002 55.8076C63.6304 55.8076 63.0062 56.4317 63.0062 57.2016V63.3947H58.8011V62.688C58.8011 59.6354 57.7493 56.7993 55.9508 54.5606L58.8436 47.6338L63.2729 48.692C66.3988 49.4387 68.582 52.2047 68.582 55.4184V63.3947Z" fill="#ffffff"></path>
                                            <path d="M31.9951 33.0318C31.7359 32.7726 31.3763 32.6234 31.0097 32.6234C30.6431 32.6234 30.2835 32.7726 30.0242 33.0318C29.7649 33.2911 29.6158 33.6507 29.6158 34.0174C29.6158 34.384 29.7648 34.7436 30.0242 35.0029C30.2836 35.2621 30.6431 35.4113 31.0097 35.4113C31.3777 35.4113 31.7359 35.2621 31.9951 35.0029C32.2557 34.7436 32.4036 34.384 32.4036 34.0174C32.4036 33.6507 32.2557 33.2911 31.9951 33.0318Z" fill="#ffffff"></path>
                                            <path d="M41.3164 33.0318C41.0572 32.7726 40.6976 32.6234 40.331 32.6234C39.9644 32.6234 39.6047 32.7726 39.3455 33.0318C39.0862 33.2911 38.937 33.6507 38.937 34.0174C38.937 34.384 39.0861 34.7436 39.3455 35.0029C39.6049 35.2621 39.9644 35.4113 40.331 35.4113C40.6976 35.4113 41.0572 35.2621 41.3164 35.0029C41.577 34.7436 41.7249 34.384 41.7249 34.0174C41.7249 33.6507 41.577 33.2911 41.3164 33.0318Z" fill="#ffffff"></path>
                                            <path d="M38.3679 37.724C37.8234 37.1797 36.941 37.1797 36.3964 37.724C35.9842 38.1362 35.3136 38.1362 34.9014 37.724C34.3569 37.1797 33.4746 37.1797 32.9299 37.724C32.3856 38.2684 32.3856 39.151 32.9299 39.6955C33.6796 40.445 34.6642 40.8199 35.6488 40.8199C36.6335 40.8199 37.6181 40.4452 38.3677 39.6955C38.9122 39.151 38.9122 38.2684 38.3679 37.724Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_salut svg__anim_p3" d="M57.6366 7.91577H56.6805C55.9108 7.91577 55.2866 8.53984 55.2866 9.30971C55.2866 10.0796 55.9108 10.7037 56.6805 10.7037H57.6366C58.4063 10.7037 59.0306 10.0796 59.0306 9.30971C59.0306 8.53984 58.4063 7.91577 57.6366 7.91577Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_salut svg__anim_p3" d="M64.4002 7.91577H63.4441C62.6743 7.91577 62.0501 8.53984 62.0501 9.30971C62.0501 10.0796 62.6742 10.7037 63.4441 10.7037H64.4002C65.1699 10.7037 65.7941 10.0796 65.7941 9.30971C65.7941 8.53984 65.1699 7.91577 64.4002 7.91577Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_salut svg__anim_p3" d="M60.5405 10.8195C59.7707 10.8195 59.1465 11.4435 59.1465 12.2134V13.1695C59.1465 13.9394 59.7706 14.5635 60.5405 14.5635C61.3102 14.5635 61.9344 13.9394 61.9344 13.1695V12.2134C61.9344 11.4435 61.3102 10.8195 60.5405 10.8195Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_salut svg__anim_p3" d="M60.5405 4.05591C59.7707 4.05591 59.1465 4.67998 59.1465 5.44985V6.40596C59.1465 7.17583 59.7706 7.7999 60.5405 7.7999C61.3102 7.7999 61.9344 7.17583 61.9344 6.40596V5.44985C61.9344 4.67998 61.3102 4.05591 60.5405 4.05591Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_salut svg__anim_p2" d="M7.84814 7.91577H6.89217C6.12244 7.91577 5.49823 8.53984 5.49823 9.30971C5.49823 10.0796 6.12244 10.7037 6.89217 10.7037H7.84814C8.61787 10.7037 9.24208 10.0796 9.24208 9.30971C9.24208 8.53984 8.61787 7.91577 7.84814 7.91577Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_salut svg__anim_p2" d="M14.6118 7.91577H13.6558C12.886 7.91577 12.2618 8.53984 12.2618 9.30971C12.2618 10.0796 12.8859 10.7037 13.6558 10.7037H14.6118C15.3815 10.7037 16.0057 10.0796 16.0057 9.30971C16.0057 8.53984 15.3815 7.91577 14.6118 7.91577Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_salut svg__anim_p2" d="M10.752 10.8195C9.9823 10.8195 9.35809 11.4435 9.35809 12.2134V13.1695C9.35809 13.9394 9.98216 14.5635 10.752 14.5635C11.5218 14.5635 12.146 13.9394 12.146 13.1695V12.2134C12.146 11.4435 11.5218 10.8195 10.752 10.8195Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_salut svg__anim_p2" d="M10.752 4.05591C9.9823 4.05591 9.35809 4.67998 9.35809 5.44985V6.40596C9.35809 7.17583 9.98216 7.7999 10.752 7.7999C11.5218 7.7999 12.146 7.17583 12.146 6.40596V5.44985C12.146 4.67998 11.5218 4.05591 10.752 4.05591Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_salut svg__anim_p1" d="M35.685 5.69751C34.9152 5.69751 34.291 6.32158 34.291 7.09145V10.7589C34.291 11.5288 34.9152 12.1529 35.685 12.1529C36.4547 12.1529 37.0789 11.5288 37.0789 10.7589V7.09145C37.0789 6.32158 36.4547 5.69751 35.685 5.69751Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_salut svg__anim_p1" d="M36.6703 0.796853C36.4112 0.53758 36.0516 0.388428 35.685 0.388428C35.3184 0.388428 34.9587 0.53758 34.6994 0.796853C34.44 1.05613 34.291 1.41576 34.291 1.78237C34.291 2.14898 34.44 2.50862 34.6994 2.76789C34.9589 3.02716 35.3184 3.17631 35.685 3.17631C36.0516 3.17631 36.4112 3.02716 36.6703 2.76789C36.9297 2.50862 37.0789 2.14898 37.0789 1.78237C37.0789 1.41576 36.9297 1.05613 36.6703 0.796853Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_salut svg__anim_p1" d="M30.7998 5.98074L28.76 3.94084C28.2155 3.39651 27.3331 3.39651 26.7885 3.94084C26.2442 4.48518 26.2442 5.36782 26.7885 5.9123L28.8285 7.95219C29.1008 8.22443 29.4575 8.36048 29.8142 8.36048C30.1709 8.36048 30.5276 8.22443 30.7998 7.95219C31.3442 7.40786 31.3442 6.52521 30.7998 5.98074Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_salut svg__anim_p1" d="M44.5811 3.86418C44.0366 3.31985 43.1543 3.31985 42.6097 3.86418L40.5016 5.97224C39.9573 6.51658 39.9573 7.39922 40.5016 7.9437C40.774 8.21593 41.1306 8.35198 41.4874 8.35198C41.8443 8.35198 42.2008 8.21593 42.4731 7.9437L44.5811 5.83564C45.1255 5.2913 45.1255 4.40866 44.5811 3.86418Z" fill="#ffffff"></path>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0">
                                                <rect width="71.3699" height="71.3699" fill="white" transform="translate(0 0.388428)"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                                <div class="banner-blog__text">Статьи написаны экспертами в области здравоохранения и журналистами;</div>
                            </div>
                            <div class="banner-blog__advantage">
                                <div class="banner-blog__img">
                                    <svg class="item-advantages__icon svg" width="47" height="46" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.03393 0.388428H50.3393C53.1194 0.388428 55.3732 2.59211 55.3732 5.31049V44L52.8562 43.3249V5.31049C52.8562 3.9513 51.7293 2.84946 50.3393 2.84946H5.03393C3.64385 2.84946 2.51696 3.9513 2.51696 5.31049V66.8363C2.51696 68.1954 3.64385 69.2973 5.03393 69.2973H50.3393C51.2988 69.2973 52.133 68.7723 52.5576 68L54.5 69.6076C53.5937 70.906 52.0683 71.7583 50.3393 71.7583H5.03393C2.25377 71.7583 0 69.5546 0 66.8363V5.31049C0 2.59211 2.25377 0.388428 5.03393 0.388428Z" fill="#ffffff"></path>
                                        <path class="svg__anim svg__anim_beat" fill-rule="evenodd" clip-rule="evenodd" d="M70.1084 45.0508C66.4394 41.4744 60.7162 41.0923 56.6043 44.1491C56.1232 43.7915 55.1001 43.2191 55.1001 43.2191L52.0946 42.2328C48.9082 41.7042 45.5486 42.6663 43.102 45.0508C43.0482 45.1035 42.9948 45.1567 42.9421 45.2107C39.0545 49.1866 39.1261 55.5613 43.102 59.449L51.9837 68.1924L54.1805 70.355L55.5509 71.7041C55.8316 71.9801 56.2093 72.1349 56.6029 72.1354C56.9966 72.1349 57.3743 71.9801 57.6549 71.7041L70.1085 59.4489C70.1623 59.3962 70.2157 59.3429 70.2684 59.289C74.1559 55.3132 74.0843 48.9384 70.1084 45.0508ZM56.4993 69L67.8722 57.5154C70.6595 54.7274 70.7157 50.1494 67.9978 47.2904C67.9564 47.247 67.9145 47.204 67.8722 47.1616C65.0027 44.286 60.4201 44.286 57.5506 47.1616C56.9675 47.7481 56.0342 47.7481 55.4509 47.1616C54.0738 45.7715 52.2177 44.9948 50.2856 45C48.3569 44.9936 46.5036 45.7675 45.1278 47.1538C42.3405 49.9418 42.2843 54.5198 45.0022 57.3789C45.0436 57.4223 45.0855 57.4653 45.1278 57.5077L56.4993 69Z" fill="#ffffff"></path>
                                        <path d="M37.0666 21.0411H32.5583V16.5327C32.5583 15.7028 31.8854 15.0299 31.0554 15.0299H25.0443C24.2143 15.0299 23.5414 15.7028 23.5414 16.5327V21.0411H19.0331C18.2031 21.0411 17.5303 21.714 17.5303 22.5439V28.5551C17.5303 29.385 18.2031 30.0579 19.0331 30.0579H23.5414V34.5663C23.5414 35.3962 24.2143 36.0691 25.0443 36.0691H31.0554C31.8854 36.0691 32.5583 35.3962 32.5583 34.5663V30.0579H37.0666C37.8966 30.0579 38.5694 29.385 38.5694 28.5551V22.5439C38.5694 21.7138 37.8966 21.0411 37.0666 21.0411ZM35.5638 27.0521H31.0554C30.2255 27.0521 29.5526 27.725 29.5526 28.5549V33.0633H26.5471V28.5549C26.5471 27.725 25.8742 27.0521 25.0443 27.0521H20.5359V24.0466H25.0443C25.8742 24.0466 26.5471 23.3737 26.5471 22.5438V18.0354H29.5526V22.5438C29.5526 23.3737 30.2255 24.0466 31.0554 24.0466H35.5638V27.0521Z" fill="#ffffff"></path>
                                        <path d="M8.5138 6.01343C7.68384 6.01343 7.01111 6.6863 7.01111 7.51626V13.5274H10.0166V9.01908H14.525V6.01343H8.5138Z" fill="#ffffff"></path>
                                        <path d="M47.5862 6.01343H41.5752V9.01894H46.0835V13.5273H49.0891V7.51626C49.0891 6.6863 48.4162 6.01343 47.5862 6.01343Z" fill="#ffffff"></path>
                                        <path d="M38.5687 45.0847H17.5303V48.0902H38.5687V45.0847Z" fill="#ffffff"></path>
                                        <path d="M38.5687 52.5997H17.5303V55.6053H38.5687V52.5997Z" fill="#ffffff"></path>
                                        <path d="M38.5687 60.113H17.5303V63.1186H38.5687V60.113Z" fill="#ffffff"></path>
                                    </svg>
                                </div>
                                <div class="banner-blog__text">Статьи написаны экспертами в области здравоохранения и журналистами;</div>
                            </div>
                            <div class="banner-blog__advantage">
                                <div class="banner-blog__img">
                                    <svg class="item-advantages__icon svg" width="46" height="46" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0)">
                                            <path d="M69.8828 9.31062H29.6318C28.8861 4.19305 24.501 0.395816 19.3294 0.389404H1.48692C0.665746 0.389404 0 1.05515 0 1.87632V70.2724C0 71.0934 0.665746 71.759 1.48692 71.759H38.6587V68.7853H2.97383V3.3631H19.3294C22.9239 3.36742 25.9212 5.91944 26.6131 9.31062H11.8949V12.2843H28.2504H68.3959V24.1792H71.3698V10.7974C71.3698 9.97637 70.704 9.31062 69.8828 9.31062Z" fill="#ffffff"></path>
                                            <path d="M63.8651 43.9244C66.6235 41.7459 68.3961 38.3744 68.3961 34.5866V31.6129C68.3961 25.0436 63.0705 19.718 56.5011 19.718C49.9318 19.718 44.6061 25.0436 44.6061 31.6129V34.1495C44.562 38.0829 46.388 41.616 49.2706 43.8863C44.8705 45.1027 41.6378 49.13 41.6324 53.916V70.2715C41.6324 71.0927 42.2981 71.7584 43.1193 71.7584H69.883C70.7041 71.7584 71.3699 71.0927 71.3699 70.2715V53.916C71.3643 49.1787 68.1969 45.1846 63.8651 43.9244ZM56.501 22.6917C60.3679 22.6956 63.6582 25.1575 64.8963 28.5988C56.5929 28.264 52.8974 25.9358 52.8656 25.9152C52.3409 25.5653 51.6527 25.5844 51.1483 25.9627L48.3041 28.0959C49.6704 24.9202 52.8252 22.6953 56.501 22.6917ZM47.5798 34.1495V32.3563L52.1698 28.9141C53.9318 29.7714 58.1796 31.3933 65.4217 31.5926C65.4217 31.5994 65.4222 31.606 65.4222 31.6128V34.5865C65.4222 34.6796 65.4208 34.7727 65.418 34.8658C65.2714 39.6175 61.4349 43.3852 56.7419 43.5077H56.226C51.3051 43.2023 47.4956 39.0792 47.5798 34.1495ZM60.252 46.4817L56.501 55.8608L52.7501 46.4817H56.1308C56.2557 46.4817 56.3776 46.4817 56.501 46.4817H60.252ZM44.6061 68.7848V53.916C44.61 50.6308 46.743 47.8461 49.6987 46.8627L55.0141 60.1512V65.8111H57.9879V60.1512L63.3033 46.8627C66.2591 47.8461 68.392 50.6306 68.3959 53.916V68.7848H44.6061Z" fill="#ffffff"></path>
                                            <path d="M57.9879 36.0735C57.9879 36.8947 57.3222 37.5604 56.501 37.5604C55.6798 37.5604 55.0141 36.8947 55.0141 36.0735H52.0404C52.0404 38.537 54.0375 40.5341 56.501 40.5341C58.9645 40.5341 60.9616 38.537 60.9616 36.0735H57.9879Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_opacity svg__anim_p1" d="M36.7627 22.5377H18.9202V25.5114H36.7627V22.5377Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_opacity svg__anim_p1" d="M14.5108 22.5377H11.5371V25.5114H14.5108V22.5377Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_opacity svg__anim_p2" d="M36.7627 29.9729H18.9202V32.9466H36.7627V29.9729Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_opacity svg__anim_p2" d="M14.5108 29.9729H11.5371V32.9466H14.5108V29.9729Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_opacity svg__anim_p3" d="M36.7627 37.407H18.9202V40.3807H36.7627V37.407Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_opacity svg__anim_p3" d="M14.5108 37.407H11.5371V40.3807H14.5108V37.407Z" fill="#ffffff"></path>
                                            <path class="svg__anim svg__anim_opacity svg__anim_p4" d="M28.2504 44.8412H13.3818C12.5607 44.8412 11.8949 45.5069 11.8949 46.3281V58.223C11.8949 59.0442 12.5607 59.7099 13.3818 59.7099H28.2506C29.0718 59.7099 29.7374 59.0442 29.7374 58.223V46.3281C29.7374 45.5069 29.0716 44.8412 28.2504 44.8412ZM26.7637 56.7362H14.8688V47.815H26.7637V56.7362Z" fill="#ffffff"></path>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0">
                                                <rect width="71.3699" height="71.3699" fill="white" transform="translate(0 0.388428)"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                                <div class="banner-blog__text">Статьи написаны экспертами в области здравоохранения и журналистами;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
